www.{$DJANGO_DOMAIN_NAME} {
    redir https://{$DJANGO_DOMAIN_NAME}
}

{$DJANGO_DOMAIN_NAME} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
        header_upstream X-CSRFToken {~csrftoken}
        except /static /media  # Serve static and media files
    }
    root /srv
    log stdout
    errors stdout
    cache
    gzip
}


www.{$REACT_DOMAIN_NAME} {
    redir https://{$REACT_DOMAIN_NAME}
}

{$REACT_DOMAIN_NAME} {
  rewrite {
      to {path} {path}/ /
  }
  root /srv/react
  gzip
  log stdout
  errors stdout
}


